<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <title>GPAO — T-Concept</title>
    {# {{ encore_entry_link_tags('app') }} #}
</head>
<style>
    .font-8 {
        font-size: 0.35cm !important;
    }

    .font-16 {
        font-size: 0.3cm !important;
    }

    .myContainer {
        width: 30cm;
    / / 19 min-width: 30 cm;
    / / 19 max-width: 30 cm;
    / / 19 font-size: 0.3 cm;
        padding: 0;
    }

    .myContainer25 {
        width: 5cm;
        max-width: 5cm;
        min-width: 5cm;
        padding: 0;
    }

    .myContainer50 {
        width: 9cm;
        max-width: 9cm;
        min-width: 9cm;
        padding: 0;
    }

    .withBorder {
        border: 1pt black solid;
    }

    .bg-light {
        background-color: #e9e9e9;
    }

    .table-collapse {
        border-collapse: collapse;
    }

    .text-center {
        text-align: center;
    }

    .hidden {
        display: none;
    }

    .bg-yellow {
        background-color: #f6f6c1;
    }
</style>

{# {% set user = app.user %}
{% set society = user.society.society %} #}
{# {% set viewprint_souhaitee = false %} #}
{% set classe='' %}
{% if viewprint_souhaitee %}
    {% set classe = 'hidden' %}
{% else %}
    {% set classe = 'bg-yellow' %}
{% endif %}
{# {% set lang = orderSupplier.supplier.getPreferredLanguage() %} #}
<body>
<table class="myContainer" border=0>
    <tr>
        <td class="myContainer25">
            <img src="{{ basePath ~ asset('tconcept.jpg') }}" title="tconcept" alt=""/>
            <h3 class="printtitle">{{ society.name }} </h3>
            <div><b>{{ society.address }}</b></div>
            {% if society.address2 != '' %}
                <div><b>{{ society.address2 }}</b></div>{% endif %}
            <div><b>{{ society.zip }} {{ society.city }}</b></div>
            <div><b>{# {{society.getCountryName()}} #}</b></div>
            {% if society.phone != '' %}
                <div><small>Tel. {# {{ phone_format.getFormattedPhoneNumber(society) }} #}</small></div>
            {% endif %}
            {% if society.fax != '' %}
                <div><small>Fax. {{ society.fax }}</small></div>
            {% endif %}
            {% if society.email != '' %}
                <div><small>{{ society.email }}</small></div>
            {% endif %}
        </td>
        <td class="myContainer25">
        </td>
        <td class="myContainer50">
            <div style="background-color:#999" align="center"><h2><b>{# {{ 'ORDER'|trans([],'achat',lang) }} #}
                        <br>N° {{ orderSupplier.ref }}</b></h2></div>
            <br>
            {% set supplier = orderSupplier.supplier.society %}
            <div class="bg-light" style="padding:0.2cm;">
                <div style="font-size:1.2em;"><b>{{ orderSupplier.supplier.name }}</b></div>
                <strong>{{ orderSupplier.supplier.address }}<br/>
                    {% if orderSupplier.supplier.address2 != '' %}{{ orderSupplier.supplier.address2 }}<br/>{% endif %}
                    {{ orderSupplier.supplier.zip }} {{ orderSupplier.supplier.city }}<br/>
                    {# {{supplier.getCountryName()}} #} </strong><br/>
                {% if orderSupplier.supplier.phone != '' %}<small>
                    Tel. {# {{ phone_format.getFormattedPhoneNumber(supplier) }} #}</small>{% endif %}
            </div>
        </td>
    </tr>
</table>
<table class="myContainer table-collapse" style="margin-top:0.2cm;">
    <tr class="bg-light" style="font-size: 0.8em;">
        <th class="withBorder">Date</th>
        <th class="withBorder">Suivi par</th>
        <th class="withBorder">Contact</th>
        <th class="withBorder">N° Client</th>
        <th class="withBorder">Conditions Règlement</th>
        <th class="withBorder">Infos</th>
        <th class="withBorder">Livraison</th>
    </tr>
    <tr style="font-size: 0.8em;">
        <td class="withBorder text-center ">
            <strong>{{ orderSupplier.dateValidation|date('d/m/Y') }}</strong>
        </td>
        <td class="withBorder text-center ">
            {{ user.lastname }} {{ user.firstName }}
        </td>
        <td class="withBorder">
            {# {% set contact = orderSupplier.supplier.getPreferedOrdercontact() %}
            {% if contact is defined and contact != null %}
                <div>{{ contact.lastname }} {{ contact.firstname }}</div>
                {% if contact.phone !='' %}<div>Tel. {{ phone_format.getFormattedPhoneNumberForContact(contact) }}</div>{% endif %}
            {% else %}
                {{'TBD'|trans([],'achat',lang)}}
            {% endif %} #}
        </td>
        <td class="withBorder text-center ">
            {{ (societySupplier is empty) ? '': societySupplier[0].getCompteClient() }}
        </td>
        <td class="withBorder text-center "
        {{ orderSupplier.supplier.invoiceTimeDue }}
        </td>
        <td class="withBorder text-center ">
            {{ orderSupplier.infoPublic }}
        </td>
        <td class="withBorder" style="font-size: 0.23cm;">
            {% if orderSupplier.deliveryCompany !=null %}
                {% set deliveryCompany = orderSupplier.deliveryCompany.society %}
                <div style="font-size:1.2em;"><b>{{ orderSupplier.deliveryCompany.name }}</b></div>
                <strong>{{ orderSupplier.deliveryCompany.address }}<br/>
                    {% if orderSupplier.deliveryCompany.address2 != '' %}{{ orderSupplier.deliveryCompany.address2 }}
                        <br/>{% endif %}
                    {{ orderSupplier.deliveryCompany.zip }} {{ orderSupplier.deliveryCompany.city }}<br/>
                    {# {{orderSupplier.deliveryCompany.getCountryName()}} #}</strong><br/>
                {% if orderSupplier.deliveryCompany.phone != '' %}<small>
                    Tel. {# {{ phone_format.getFormattedPhoneNumber(deliveryCompany) }} #}</small>{% endif %}
            {% endif %}
        </td>
    </tr>
</table>
<table class="myContainer table-collapse" style="margin-top: 1cm;">
    <thead>
    <tr class="bg-light" style="font-size: 0.8em;">
        <th class="text-center withBorder">P</th>
        <th class="text-center withBorder">Ref</th>
        <th class="text-center withBorder">Désignation</th>
        <th class="text-center withBorder">Date de livraison</th>
        <th class="text-center {{ classe }} withBorder">{# {{'confirmedDeliveryDate'|trans([],'achat',lang)}} #}</th>
        <th class="text-center withBorder">INCO</th>
        <th class="text-center withBorder">Qté</th>
        <th class="text-center {{ classe }} withBorder">{# {{'confirmedQty'|trans([],'achat',lang)}} #}</th>
        <th class="text-center {{ classe }} withBorder">{# {{'receivedQty'|trans([],'achat',lang)}} #}</th>
        <th class="text-center {{ classe }} withBorder">{# {{'remainingQty'|trans([],'achat',lang)}} #}</th>
        <th class="text-center {{ classe }} withBorder">{# {{'targetWarehouse'|trans([],'achat',lang)}} #}</th>
        <th class="text-center withBorder">PU HT</th>
        <th class="text-center withBorder">Total HT</th>
        <th class="text-center {{ classe }} withBorder">{# {{'billed'|trans([],'achat',lang)}} #}</th>
    </tr>
    </thead>
    <tbody>
    {# {% set prixgrandtotalsouhaitee =0 %}
    {% set prixgrandtotal =0 %}
    {% set qgrandtotal =0 %}
    {% set qdifgrandtotal =0 %}
    {% set qgrandtotalsouhaitee =0 %}
    {% set qreceptgrandtotal =0 %}#}

    {% for orderSupplierComponent in orderSupplier.orderSupplierComponents%}
    {# {% if orderSupplierComponent.child is null and orderSupplierComponent.quantitySouhaitee>0 %}
        {% set component=null %}
        {% set isComponent = true %}
        {% if orderSupplierComponent.component!=null %}
            {% set component=orderSupplierComponent.component %}
        {% elseif orderSupplierComponent.product!=null %}
            {% set component=orderSupplierComponent.product %}
            {% set isComponent = false %}
        {% endif %}
        {% if component!=null %}
            {% set prixtotal =  orderSupplierComponent.getPrice()*orderSupplierComponent.quantitySouhaitee %}
            {% set prixgrandtotalsouhaitee = prixgrandtotalsouhaitee + orderSupplierComponent.price*orderSupplierComponent.quantitySouhaitee %}
            {% set prixgrandtotal =prixgrandtotal+ prixtotal %}
            {% set qgrandtotal =qgrandtotal+ orderSupplierComponent.quantity %}
            {% set qgrandtotalsouhaitee =qgrandtotalsouhaitee+ orderSupplierComponent.quantitySouhaitee %}
            {% set qreceptgrandtotal =qreceptgrandtotal+ orderSupplierComponent.quantityReceived %}
            {% set qdif=(orderSupplierComponent.quantity - orderSupplierComponent.quantityReceived)|abs %}
            {% set qdifgrandtotal =qdifgrandtotal+ qdif %}
    #}
    <tr class="myContainer font-8">
        <td class="text-center withBorder"> {{loop.index}}</td>
        <td class="text-center withBorder">{# {{component.getSupplierRef(supplier,orderSupplierComponent.quantitySouhaitee) }}{{component.getSupplierRef(supplier,orderSupplierComponent.quantitySouhaitee) }} #}</td>
        <td class="withBorder">
            {# {% if withLinks %}
                        {% if isComponent %} #}
            <a href="#" target="_blank"
               style="cursor: pointer;color:black !important;"><b>{# {{component.ref}} #}</b></a>
            {# {% else %} #}
            <a href="#" target="_blank"
               style="cursor: pointer;color:black !important;"><b>{# {{component.ref}} #}</b></a>
            {# {% endif %}
                    {% else %} #}
            <b>{# {{component.ref}} #}</b>
            {# {% endif %} #}
            <small><br>{# {{component.designation}} #}</small>
            <br><small><b>{# {{component.infoCommande}} #}</b></small>
        </td>
        <td class="text-center withBorder">{#  {{orderSupplierComponent.dateSouhaitee|date('Y-m-d')}} #} </td>
        <!--viewprint_souhaitee-->
       {#   {% if "now"|date('Y-m-d') > orderSupplierComponent.dateLivraison|date('Y-m-d') %}
            {% set label = 'label-danger' %}
        {% endif %}
        {% if "now"|date('Y-m-d') == orderSupplierComponent.dateLivraison|date('Y-m-d') %}
            {% set label = 'label-warning' %}
        {% endif %}#}
        <!-- -->
        <td class="{{ classe }} text-center withBorder" style=""><span
                    class="label{#{{ label }} #} ">{# {{ orderSupplierComponent.dateLivraison|date('Y-m-d') }} #}</span></td>
        <td class="withBorder text-center">{# {% if supplier.incoterm !=null %}{{ supplier.incoterm.label }}{% endif %} #}</td>
        <td class="withBorder text-center">{# {{ orderSupplierComponent.quantitySouhaitee }} {% if isComponent %}{{ component.unit.shortLabel }}{% else %}U{% endif %} #}</td>
        <td class="{{ classe }} withBorder text-center">{# {{ orderSupplierComponent.quantity }} {% if isComponent %}{{ component.unit.shortLabel }}{% else %}U{% endif %} #}</td>
        <td class="{{ classe }} withBorder text-center">{#{{ orderSupplierComponent.quantityReceived }} {% if isComponent %}{{ component.unit.shortLabel }}{% else %}U{% endif %}  #}</td>
        <td class="{{ classe }} withBorder text-center">{# {{ qdif }} {% if isComponent %}{{ component.unit.shortLabel }}{% else %}U{% endif %} #}</td>
        <td class="{{ classe }} withBorder text-center">{#  {{ orderSupplierComponent.targetWarehouse }}#}</td>
        <td class="withBorder text-center">{# {{ orderSupplierComponent.getPrice() }} #} €</td>
        <td class="withBorder text-center">{#{{ prixtotal }}  #} €</td>
        <td class="withBorder {{ classe }}  text-center">{# {% if orderSupplierComponent.invoice %}Oui{% else %}Non{% endif %} #}</td>
    </tr>
    {#  {% if orderSupplierComponent.texte|length>0 %}#}
        <tr class="text-info text-sm-center">
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td colspan="11" class="withBorder font-8" style="color:blue;">{#  {{ orderSupplierComponent.texte }}{{ orderSupplierComponent.texte }}#}</td>
        </tr>
        {# {% endif %} #}
        {#  {% else %}#}
        <div class="bg-danger">{#{{ 'Aucun Produit ou Composant n\'est associé à l\'item de commande n°'|trans([],'achat',lang) }}{{ orderSupplierComponent.id }}#}</div>
        {#  {% endif %}
    {# {% endif %} #}
     {% endfor %}
    <footer>
        <tr class="text-center font-16">
            {% if classe=='hidden' %}
                <td class="withBorder" colspan="5"><span
                            style="float: right;font-weight: bold;">Totaux{# {{ 'totals'|trans([],'achat',lang) }} #}</span></td>
            {% else %}
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="{{ classe }}"></td>
                <td class="withBorder"><span
                            style="float: right;font-weight: bold;">{#{{ 'totals'|trans([],'achat',lang) }}  #}</span></td>
            {% endif %}
            <td class="withBorder"><b>{# {{ qgrandtotalsouhaitee }} #}</b></td>
            <td class="withBorder {{ classe }}"><b>{# {{ qgrandtotal }} {{ qgrandtotal }}#}</b></td>
            <td class="withBorder {{ classe }}"><b>{#{{ qreceptgrandtotal }}  #}</b></td>
            <td class="withBorder {{ classe }}"><b>{# {{ qdifgrandtotal }} #}</b></td>
            <td class="{{ classe }}"></td>
            <td></td>
            <td class="withBorder"><b>{# {{ prixgrandtotal }} #} €</b></td>
            <td class="{{ classe }}"></td>
        </tr>
    </footer>
    </tbody>
</table>
</body>
