{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
   {% set icon %}
      <span class="sf-toolbar-value"><img src="{{ asset('images/couch-solid.svg') }}" alt="couch"> Couch ({{ collector.getActions()|length }})</span>
   {% endset %}
   {% set text %}
      <div class="sf-toolbar-info-piece">
         <b>Create</b>
         <span class="sf-toolbar-status sf-toolbar-status-green">{{ collector.getCreateIndicator()["ok"] }}</span>
         <span class="sf-toolbar-status sf-toolbar-status-red">{{ collector.getCreateIndicator()["ko"] }}</span>
      </div>
      <div class="sf-toolbar-info-piece">
         <b>Read</b>
         <span class="sf-toolbar-status sf-toolbar-status-green">{{ collector.getReadIndicator()["ok"] }}</span>
         <span class="sf-toolbar-status sf-toolbar-status-red">{{ collector.getReadIndicator()["ko"] }}</span>
      </div>
      <div class="sf-toolbar-info-piece">
         <b>Update</b>
         <span class="sf-toolbar-status sf-toolbar-status-green">{{ collector.getUpdateIndicator()["ok"] }}</span>
         <span class="sf-toolbar-status sf-toolbar-status-red">{{ collector.getUpdateIndicator()["ko"] }}</span>
      </div>
      <div class="sf-toolbar-info-piece">
         <b>Delete</b>
         <span class="sf-toolbar-status sf-toolbar-status-green">{{ collector.getDeleteIndicator()["ok"] }}</span>
         <span class="sf-toolbar-status sf-toolbar-status-red">{{ collector.getDeleteIndicator()["ko"] }}</span>
      </div>
      <div class="sf-toolbar-info-piece">
         <b>Document Create</b>
         <span class="sf-toolbar-status sf-toolbar-status-green">{{ collector.getDocumentCreateIndicator()["ok"] }}</span>
         <span class="sf-toolbar-status sf-toolbar-status-red">{{ collector.getDocumentCreateIndicator()["ko"] }}</span>
      </div>
      <div class="sf-toolbar-info-piece">
         <b>Document Read</b>
         <span class="sf-toolbar-status sf-toolbar-status-green">{{ collector.getDocumentReadIndicator()["ok"] }}</span>
         <span class="sf-toolbar-status sf-toolbar-status-red">{{ collector.getDocumentReadIndicator()["ko"] }}</span>
      </div>
      <div class="sf-toolbar-info-piece">
         <b>Document Update</b>
         <span class="sf-toolbar-status sf-toolbar-status-green">{{ collector.getDocumentUpdateIndicator()["ok"] }}</span>
         <span class="sf-toolbar-status sf-toolbar-status-red">{{ collector.getDocumentUpdateIndicator()["ko"] }}</span>
      </div>
      <div class="sf-toolbar-info-piece">
         <b>Document Delete</b>
         <span class="sf-toolbar-status sf-toolbar-status-green">{{ collector.getDocumentDeleteIndicator()["ok"] }}</span>
         <span class="sf-toolbar-status sf-toolbar-status-red">{{ collector.getDocumentDeleteIndicator()["ko"] }}</span>
      </div>
   {% endset %}
   {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: true }) }}
{% endblock %}
{% block head %}
   {{ parent() }}
   {# CSS customisé #}
   <style>
      .couch_th {
         text-align: center;
         background-color: #4f5050;
         color:white;
      }
      .couch_request_ok {
         background-color: green;
         text-align: center;
         color: white;
      }
      .couch_request_ko {
         background-color: red;
         text-align: center;
         color: white;
      }
   </style>
{% endblock %}
{% block menu %}
   <span class="label">
        <span class="icon"><img src="{{ asset('images/couch-solid.svg') }}" alt="couch"></span>
        <strong>Couch</strong>
    </span>
{% endblock %}
{% block panel %}
   <h2>Liste des requêtes effectuées</h2>
   <table style="text-align: center;">
      <tr>
         <th class="couch_th">Document</th>
         <th class="couch_th">Request Type</th>
         <th class="couch_th">Result</th>
         <th class="couch_th">Details</th>
      </tr>
      {% for action in collector.getActions() %}
         {% if not action.isErrors() %}
            {% set status = "couch_request_ok" %}
            {% set result = "OK" %}
         {% else %}
            {% set status = "couch_request_ko" %}
            {% set result = "KO" %}
         {% endif %}
         <tr>
            <td>{{ action.getDocument() }}</td>
            <td>{{ action.getRequestType() }}</td>
            <td class="{{ status }}">
               {{ result }}
            </td>
            <td>{{ action.getDetail() }}</td>
         </tr>
      {% endfor %}
   </table>
{% endblock %}